@page
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman&family=Noto+Sans+Thai+Looped:wght@100;200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman&family=Noto+Sans+Thai+Looped:wght@100;200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Charmonman&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/StyleSheet.css" />

<body class="bg-body">
<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/Room_V2">V2</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/">V3</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/">V4</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/">V5</a></h3></div></h3></div>
    </div>
</div>
<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/">V6</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/">J1</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/">J2</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/">J3</a></h3></div></h3></div>
    </div>
</div>

<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">J4</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">J5</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a1">A1</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/Room_A2">A2</a></h3></div></h3></div>
    </div>
</div>

<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/Room_B1">B1</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/">B2</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">C1</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">C2</a></h3></div></h3></div>
    </div>
</div>

<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">C3</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">C4</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">C5</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">C6</a></h3></div></h3></div>
    </div>
</div>

<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">I1</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">I2</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">I3</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">I4</a></h3></div></h3></div>
    </div>
</div>

<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">I5</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">H1</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">H2</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">G1</a></h3></div></h3></div>
    </div>
</div>

<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">G2</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">G3</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">G4</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">L1</a></h3></div></h3></div>
    </div>
</div>

<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">L2</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">L3</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">M1</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">M2</a></h3></div></h3></div>
    </div>
</div>

<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">M3</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">K1</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">K2</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">K3</a></h3></div></h3></div>
    </div>
</div>

<div class="row">

    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">T1</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">T2</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">T3</a></h3></div></h3></div>
    </div>
    <div class="column">
        <div class="card"><h3><div class="card"><h3><a class="nav-link text-dark" asp-area="" asp-page="/Clients/a2">Null</a></h3></div></h3></div>
    </div>
</div>
</body>

